.a {
    width: 1300px;
    height: 100px;
    border-collapse: collapse;
    margin-left: -20px;
  }
  .aa {
    width: 1300px;
    height: 400px;
    border-collapse: collapse;
    margin-left: -20px;
  }
  .aa th {
    border-bottom: 1px solid black;
    border: 2px solid #EFEFEF;
  }
  .aa td {
    text-align: center;
    border: 1px solid #EFEFEF;
  }
  .b {
    width: 1300px;
    height: 50px;
    border-collapse: collapse;
    margin-left: -20px;

  }
  
.a th {
    border-bottom: 1px solid black;
    border: 2px solid #EFEFEF;
  }
  
.a td {
    text-align: center;
    border: 1px solid #EFEFEF;
  }

  .c{

  }